*{
  margin: 0;  
  padding: 0;
}


.header{
background-image: url(../images/header.jpg);
height: 647px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: whitesmoke;
}

.col-6{
  width: 50%;
  float: left;
}

.header span{
  color: #e9c46a ;
}
.header .menu ul{
  width: 100%;
  float: left;
}
.header .menu li{
  list-style: none;
  display: inline-block;
}
.headtext{
   padding: 100px;
}

.program .row{
  width: 100%;
}
.program .row h1{
  text-align: center;
  text-transform: uppercase;
}
.program .row h1 span{
  color: #e9c46a ;
}
.program .row p{
  text-align: center;
 }
 .program .menu ul{
  width: 100%;
  float: left;
}
.program .menu li{
  list-style: none;
 
}